<!DOCTYPE html>
<html>
  <head>
    <title>User and Contact Management System</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="submit"method="post">
      <input type="text" name="name"placeholder="Enter Name"value=""required>
      <input type="number"name="mobile"placeholder="Enter Mobile Number"value=""required>
      <input type="text"name="location"placeholder="Enter the location"value=""required>
      <input type="submit"value="Save">

    </form>
  </body>
</html>
